Sphinx>=1.3
coverage
flake8>=2.4.0
mock>=1.0.1
nose-cov
nose-mocha-reporter
nose>=1.3.4
setuptools>17.1
sphinx_rtd_theme>=0.1.7
tox>=1.9.0
-e git+PyOrgMode#egg=PyOrgMode
-e git+Wikipedia#egg=Wikipedia
-e git+eventlet#egg=eventlet
-e git+extraction#egg=extraction
-e git+internetarchive#egg=internetarchive
#-e git+open-everything-library#egg=oel
-e git+opensearch#egg=opensearch
-e git+pywikibot-core#egg=pywikibot-core
-e git+pywikibot-wikibase#egg=pywikibot-wikibase
#-e git+pywikipediabot#egg=pywikipediabot
-e git+rdflib#egg=rdflib
-e git+requests#egg=requests
#-e git+s3cmd#egg=s3cmd
-e git+sparql-client#egg=sparql-client
-e git+sparqlwrapper#egg=sparqlwrapper
-e git+speedy_deletion_bot#egg=speedy_deletion_bot
#-e git+yacybot#egg=yacybot
-e git+nltk/#egg=nltk

#-e git+i18n#egg=i18n
