Sphinx>=1.3
coverage
flake8>=2.4.0
mock>=1.0.1
nose-cov
nose-mocha-reporter
nose>=1.3.4
setuptools>17.1
sphinx_rtd_theme>=0.1.7
tox>=1.9.0
-e git+file:///home/jamesmikedupont/virtual-machine/PyOrgMode#egg=PyOrgMode
-e git+file:///home/jamesmikedupont/virtual-machine/Wikipedia#egg=Wikipedia
-e git+file:///home/jamesmikedupont/virtual-machine/eventlet#egg=eventlet
-e git+file:///home/jamesmikedupont/virtual-machine/extraction#egg=extraction
-e git+file:///home/jamesmikedupont/virtual-machine/internetarchive#egg=internetarchive
#-e git+file:///home/jamesmikedupont/virtual-machine/open-everything-library#egg=oel
-e git+file:///home/jamesmikedupont/virtual-machine/opensearch#egg=opensearch
-e git+file:///home/jamesmikedupont/virtual-machine/pywikibot-core#egg=pywikibot-core
-e git+file:///home/jamesmikedupont/virtual-machine/pywikibot-wikibase#egg=pywikibot-wikibase
#-e git+file:///home/jamesmikedupont/virtual-machine/pywikipediabot#egg=pywikipediabot
-e git+file:///home/jamesmikedupont/virtual-machine/rdflib#egg=rdflib
-e git+file:///home/jamesmikedupont/virtual-machine/requests#egg=requests
#-e git+file:///home/jamesmikedupont/virtual-machine/s3cmd#egg=s3cmd
-e git+file:///home/jamesmikedupont/virtual-machine/sparql-client#egg=sparql-client
-e git+file:///home/jamesmikedupont/virtual-machine/sparqlwrapper#egg=sparqlwrapper
-e git+file:///home/jamesmikedupont/virtual-machine/speedy_deletion_bot#egg=speedy_deletion_bot
#-e git+file:///home/jamesmikedupont/virtual-machine/yacybot#egg=yacybot
-e git+file:///home/jamesmikedupont/virtual-machine/nltk/#egg=nltk

#-e git+file:///home/jamesmikedupont/virtual-machine/i18n#egg=i18n
